@import "variables";
@import "icons";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}

.h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.content {
    max-width: 100%-$sidebar-width;
    width: 100%;
    padding: 30px 15px;
    margin-left: $sidebar-width;
    line-height: 1.5rem;

    &--centered {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.link {
    @include link();
}

a {
    @include link();
}

span.s {
    text-decoration: line-through;
}

span.u {
    text-decoration: underline;
}

span.o {
    text-decoration: overline;
}

span.spoiler {
    background-color: $spoiler-color;
}

span.unkfunc {
    color: $quote-color;
}
